< IfModule  mod_expires.c >
  ExpireActive le

 # Images 
  ExpiresByType image/jpeg  "accès plus 1 an" 
  ExpiresByType image/gif  "accès plus 1 an" 
  ExpiresByType image/png  "accès plus 1 an" 
  ExpiresByType image/webp  "accès plus 1 an" 
  ExpiresByType image/svg+xml  "accès plus 1 an" 
  ExpiresByType image/x-icon  "accès plus 1 an"

  # Video 
  ExpiresByType video/webm  "access plus 1 an" 
  ExpiresByType video/mp4  "access plus 1 an" 
  ExpiresByType video/mpeg  "access plus 1 an"

  # Polices 
  ExpiresByType font/ttf  "accès plus 1 an" 
  ExpiresByType font/otf  "accès plus 1 an" 
  ExpiresByType font/woff  "accès plus 1 an" 
  ExpiresByType font/woff2  "accès plus 1 an" 
  ExpiresByType application/font-woff  "accès plus 1 an"

  # CSS, JavaScript 
  ExpiresByType text/css  "accès plus 6 mois" 
  ExpiresByType text/javascript  "accès plus 6 mois" 
  ExpiresByType application/javascript  "accès plus 6 mois"

  # Autres 
  ExpiresByType application/pdf  "accès plus 6 mois" 
  ExpiresByType image/vnd.microsoft.icon  "accès plus 1 an" 
</ IfModule >